@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    margin: 10px;
    display: flex;
    justify-content:center;
    width:210px;
}
.texto{
    height: 30px;
    min-width: 180px;
    min-height: 30px;
    padding: 5px;
    font-family: "Poppins", sans-serif;
}
.button{
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 0px solid;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}